@import '../../styles/mixin';

.contacts {

  &__subtitle {
    text-align: center;
    padding: 110px 15px 60px;
  }

  &__cards {
    display: grid;
    gap: 30px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    
    @include onTablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include onDesktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    padding: 40px 10px;

    & svg {
      fill: yellow;
      width: 70px;
      height: 70px;
      margin-bottom: 40px;
    }

    & h4 {
      font-size: 28px;
            margin-bottom: 50px;
              font-family: 'Playfair Display', serif;


    }
    & a, & p {
      font-size: 20px;
    }
  }

  &__follow {
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
  }

  &__socials {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    & svg {
      fill: #272621;
      // object-fit: contain;

    }
  }

  &__social {
    background-color: rgb(247, 247, 57);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: yellow;
    }
  }
}